.bi-house-fill{
    font-size: 1.4rem;
    line-height: 1;
}

a:not(.active).nav-link:hover{
    transform: scale(1.1);
}

.auth {
    width: 300px;
}

#add_box {
    bottom: 10vh;
}

#home_tasks{
    margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
    #add_box {
        bottom: 1vw !important;
    }
}