{% extends 'layout.html' %}

{% block title %}
    - History
{% endblock %}
{% block body %}
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Content</th>
            <th>Date Created</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for record in records %}
            <tr>
                <td class="text-truncate">{{ record.content }}</td>
                <td>{{ record.creation_date | format_date }}</td>
                <td>{{ record.due_date }}</td>
                <td class="{{ record.priority | priorityTableColor }}">{{ record.priority | formatNone | format_priority }}</td>
                <td class="{% if record.status == 'completed' %} table-success {% else %} table-danger {% endif %}">{{ record.status | upper }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}