{% extends 'layout.html' %}

{% block body %}
    <h3>Home</h3>
    <div class="border border-black border-2 rounded p-1" id="add_box">
        <form action="/" method="post" class="w-auto">
            <div>
                <input class="form-control" type="text" name="content" placeholder="Content" required autocomplete="off" autofocus>
                <div class="d-flex flex-wrap input-group">
                    <input type="date" class="form-control w-50" name="date">
                    <select class="form-select w-50" name="priority">
                        <option selected disabled>No Priority</option>
                        <option value="1">Priority 1</option>
                        <option value="2">Priority 2</option>
                        <option value="3">Priority 3</option>
                    </select>
                </div>
                <button class="btn btn-primary w-100" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}