{% extends 'layout.html' %}

{% block body %}
    <div class="p-1" id="pending_tasks">
        <h4>Pending tasks</h4>
        <form action="/" method="post">
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item d-flex align-items-center">
                        <input class="form-check-input me-2 task-checkbox" type="checkbox" id="task{{ task.id }}"
                        value="{{ task.id }}">
                        <label class="form-check-label me-auto" for="task{{ task.id }}">{{ task.content }}</label>
                        <span class="badge text-bg-danger rounded-pill">{{ task.due_date }}</span>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>

    <div class="container position-absolute bottom-0 start-50 translate-middle w-100" id="add_box">
        <form action="/" method="post" class="w-auto">
            <div class="row">
                <div class="col-12 col-md-5 p-0 pe-md-2">
                    <input class="form-control w-100" type="text" name="content" placeholder="Content" required autocomplete="off" autofocus>
                </div>
                <div class="col-12 col-md-5 p-0 pe-md-2">
                    <div class="input-group w-100">
                        <input type="date" class="form-control" name="date">
                        <select class="form-select" name="priority">
                            <option selected disabled>No Priority</option>
                            <option value="1">Priority 1</option>
                            <option value="2">Priority 2</option>
                            <option value="3">Priority 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-2 p-0">
                    <button class="btn btn-primary w-100" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block script %}
<script>
    document.querySelectorAll('.task-checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function (){
            let task_id = this.value;

            fetch('/delete_task', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: task_id} )
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    let task_item = this.closest('li');
                    if (task_item) task_item.remove();
                }
            })
            .catch(error => console.error('Error deleting task:', error));
        });
    });
</script>
{% endblock %}