{% extends 'layout.html' %}

{% block body %}
<form action="/login" method="post" class="position-absolute top-50 start-50 translate-middle">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" type="text" name="username" placeholder="Username">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" type="password" name="password" placeholder="Password">
    </div>
    <button class="btn btn-primary w-100" type="button">Log In</button>
</form>
{% endblock %}